$container: 1400px;
$ui-default-measure: 8px;
$ui-default-measure2x: 16px;
$ui-default-measure3x: 24px;
$ui-default-measure4x: 32px;
$ui-default-measure5x: 40px;
$ui-default-border-radius: 4px;
$ui-default-border-radius--large: 8px;
$ui-default-border-radius--x-large: 16px;
$ui-default-border-radius--circle: 50%;

$color-primary: #6c6de3;
$color-primary--light: #9596ee;
$color-accent: #f75980;
$color-accent--light: #ffa2a2;
$color-text: #1890FF;
$color-primary-background: #E8ECF6;
$color-primary-background--light: #fcfdfd;
$color-active-icon: #7E7FE8;
$color-copy: #515076;
$color-copy--light: #6062a5;
$color-copy--dark: #2f2d61;
$color-gray: #9594ae;
